:root{
    --morado: #664177;
    --rosa: #c468a2;
    --rosac:#edc9d3;
    --azul:#00CBD4;
    --azulc: #aacdda;
    --azulf: #0197ba;
    --black: #1b262c;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
@font-face {
    font-family: "DISTRO";
    src: url(../ttf/DISTRO__.ttf)
}
body{
    background: var(--white);
    overflow-x: hidden;
    font-family: "DISTRO";
    /* background: url(../src/Background\ 2.png); */
    background-position: center;
    background-size: 100% auto;
    position: relative;
    background-repeat: no-repeat;   
}
/* go top */
.go-top {
    position:fixed;
    bottom: 6.25rem;
    right: 0;
    width: 3.1rem;
    height: 3.1rem;
    border: .125rem solid var(--black);
    border-radius: 50%;
    background: var(--white);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}
.go-top:hover{
    border: 0.12rem solid var(--black);
    background: var(--black1);
}
.go-top:hover span{
    color: var(--black);
}
.go-top > span{
    font-size: 1.86rem;
    color: var(--black);
}
#header{
    position: relative;
    width: 100%;
}

/* Menu */
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 3.7rem;
    background-image: linear-gradient( 110deg, #664177, #aacdda, #edc9d3 , #c468a2 );

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{
    margin-left: 1.25rem;
    display: none;
}
.menu .logo-box a{
    text-decoration: none;
    font-size: 1.86rem;
    font-weight: 800;
    color: var(--black); 
}
.menu .burger-menu {
    display: none;
}
.menu .menuOpcion{
    margin: auto;
    display: flex;
}
.menu .menuOpcion li{
    list-style: none;
}
.menu .menuOpcion a{
    text-decoration: none;
    margin:0rem 3rem;
    padding: 0.5rem;
    color: white;
    border-radius: 1.5rem;
    font-size: 1.3rem;
    font-weight: 900;
    transition: 0.3s;
}
.menu .menuOpcion a.activo{
    background: var(--black);
    color:#fff;
}
.menu .list-container .lists li a:hover{
    background: white;
    color:var(--rosa);
}
.burger-menu > .fab-bars{
    display: none;
}
.menu .btn-menu{
    display: none;
}

/* img header */
.img-header{
    width: 100%;
    height: auto;
    background: url(../src/Background2P1.png);
    background-repeat: no-repeat;
    background-size: 100% 150%;
}
.img-header .figure{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.img-header .figure .logoFigure, .logotipoFigure{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.img-header .figure .logoFigure img{
    width: 25%;
    margin-top: 4rem;
    }
.img-header .figure .logotipoFigure img{
    width: 25%;
    margin-top: 2rem;
    }
.img-header .welcomeSeccion{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.img-header .welcomeSeccion .spaceb{
    width: 40%;
    display: flex;
    justify-content: right;
    flex-direction: column;
}
.img-header .welcome { 
    width: 40%;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 2.7rem;
    color: var(--black);
    font-weight: 800;
    text-align: center;
}
.img-header .welcome p{
    font-size:1.25rem;
    color: var(--azulf);
    font-weight: 900;
    text-align:right;
}
.img-header .welcome a >button{
    width:280px;
    background:linear-gradient(110deg, var(--azul), var(--azulc), var(--morado));
    padding:20px 30px;
    text-align:center;
    margin:auto;
    margin-top:.5rem;
    color:white;
    font-family: "DISTRO";
    font-size:1rem;
    border:none;
    text-transform:uppercase;
    letter-spacing:2px;
    border-radius:30px;
}
.img-header .welcome a >button:hover{
    transform: translateY(10px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}
/* Dinamica */
.dynamic{
    width: 100%;
    padding: 2.5rem;
    margin-top: 16rem;
    background: url(../src/BackgroundP2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
}
.dynamic .steps{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border:none;
}
.dynamic h2{
    font-size: 2.5rem;
    color:var(--black);
    text-align: center;
    margin-top: -1.5rem;
}
.dynamic h3{
    font-size: 1.5rem;
    color:var(--black);
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    font-weight: 200;
}
.dynamic .steps .step1{
    position: absolute;
    width: 100%;
    height: 95%;
    align-items: center;
    border: none;
    transition: 500ms;
    cursor: pointer;
}
.dynamic .steps .step2{
    position: absolute;
    width: 80%;
    height: 75%;
    align-items: center;
    border: none;
    transition: 500ms;
    cursor: pointer;
    left: 150px;
    bottom: 1px;
}
.dynamic .steps .step3{
    width: 45%;
    margin-bottom: 1.25rem;
    margin-left: 5.5rem;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
}

/* Productos */

.products{
    position: relative;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.products h2{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
    width:50%;
    margin:auto;
    margin-top:1rem;
} 
.products .imgProducts hr{
    width: 100%;
    height: 0.188rem;
    background: var(--black1);
    border: none;
    margin-top:0.31rem;
    margin-left: .25rem;
}
.products .imgProducts{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:5rem;
    padding-bottom: 6.25rem;
}
.products .imgProducts a{
    width: calc(30% - .62rem);
    margin:.62rem;
    object-fit:cover;
    border-radius: .62rem;
    cursor:pointer;
}
.products .imgProducts img {
    width: calc(100% - 10px);
    margin:.62rem;
    object-fit:cover;
    border-radius: .62rem;
    cursor:pointer;
    background: white;
    box-shadow: 0px 0px 10px  black;
}
/* Contacto */
.contact{
    width: 90%;
    padding-top: 6.25rem;
    margin:auto;
}
.contact h2{
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    font-weight:800;
    margin-bottom:.62rem;
}
.contact p{
    text-align: center;
    color: var(--black1);
    font-size: 1.3rem;
    margin-top: .80rem;
    margin-bottom:-.8rem;
}
.contact  .containerForm{
    width: 50%;
    height: auto;
    background-image: linear-gradient(130deg ,#00CBD4, #aacdda, #EDC9D3, #C468A2);
    border-radius: 1.25rem;
    border: 2px solid var(--black1);
    margin: 3rem auto;
    padding: 1.87rem;
}
.contact  .containerForm #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact  .containerForm #formulario label{
    text-align: center;
    color: var(--black);
    font-size: 1.37rem;
    margin: .62rem 0rem .12rem 0rem;
}
.contact  .containerForm #formulario input{
    width: 75%;
    height: 2.5rem;
    margin:auto;
    border: .12rem solid var(--black1);
    border-radius: 1.5rem;
    outline: none;
    text-align: center;
    font-size: 1.06rem;
    color: var(--black);
    margin-bottom: -.62rem;
}
.contact  .containerForm #formulario p{
    text-align: center;
    color: var(--black);
    font-size: .62rem;
    color: red;
    margin: .93rem 0rem .31rem 0rem;
}
.contact  .containerForm #formulario textarea{
    width: 75%;
    height: 5rem;
    margin: auto;
    border: 2px solid var(--black1);
    border-radius: 1.5rem;
    outline: none;
    font-size: .93rem;
    color: var(--black);
    padding: 1.25rem;
}
.contact  .containerForm #formulario .send {
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact  .containerForm #formulario .send .boton1{
    width: 7.5rem;
    height: 2.5rem;
    background: var(--black1);
    border-radius: 1.5rem;
    outline: none;
    font-size: 1.37rem;
    color: var(--white);
    text-align: center;
    margin-top: 1.87rem;
    cursor: pointer;
    transition: 0.5s;
}
.contact  .containerForm #formulario .send .boton1{
    background:white;
    color: var(--morado);
    font-family: "DISTRO";
    font-weight: 600;
    width: 12rem;
}
.contact  .containerForm .menssageForm{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 0%;
    color: var(--black);
}

/* Pie de pag */
.footerText{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background-image: linear-gradient( 110deg, #664177, #aacdda, #edc9d3 , #c468a2 );
    border-top: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerText p{
    color: white;
    font-size: 1.25rem;
}
.footerText a{
    color: white;
    font-size: 1.25rem;
}


